*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6f9;
}

.container{
    width:90%;
    margin:40px auto;
}

h1{
    text-align:center;
    margin-bottom:25px;
    color:#2c3e50;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    box-shadow:0 0 15px rgba(0,0,0,.15);
}

thead{
    background:#0f766e;
    color:white;
}

th{
    padding:15px;
}

td{
    padding:14px;
    text-align:center;
}

tbody tr:nth-child(even){
    background:#f2f2f2;
}

tbody tr:hover{
    background:#dff6ff;
    transition:.3s;
}

table,th,td{
    border:1px solid #ddd;
}